@model IEnumerable<CollegeGrade.Models.Disciplina>
@{
    ViewData["Title"] = "Grade";
}
<h1>@ViewData["Title"]</h1>

<p>Sua disciplinas</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carga)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carga)
        </td>
    </tr>
    }
</table>
